body {
  font-family: georgia, serif;
  text-align: center;
}

form {
  margin: 0 auto;
  padding: 0 auto;
  width: 500px;
}

.entry {
 display: block;
}

button {
  margin: 25px;
  padding: 5px;
}

#result {
  margin: 20px auto;
  padding: 0 10px 25px 10px;
  width: 200px;
  height: 100px;
  border: 2px solid black;
  text-align: center;
} 

#units {
  margin: 5px 0px 5px -70px;
  font-size: 0.7em;
  position: absolute;
}